input
{
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
img
{
	position: absolute;
	bottom: 0px;
}
body
{
	font-family: Helvetica;
	background-color: #599124;
}
a:link
{
	color:black;
}
a:visited
{
	color:black;
}
a:active
{
	color:black;
}
a:hover
{
	color:gray;
}
div.btm
{
	position: absolute;
	bottom: 0px;
	right: 15px;
	text-align: right;
}
div.btm:hover a
{
	color: white;
}
div#toolbar
{
	padding: 10px;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: black; 	
}
div.content
{
	background-color: #FFFFFF;
	position: absolute;
	left: 25%;
	right: 25%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	margin-top: 50px;
	text-align: center;
}
table
{
	margin-left: auto;
	margin-right: auto;
}
